<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DirectoryPath" value="xxx\NB_AHA_Cards\100JSON" />
    <add key="DbPath" value="WorkQueue.db" />
    <add key="CsvFolder" value="" />
    <add key="LogFolder" value="" />
	  <add key="CSV_BATCH_SIZE" value="2000" />
  </appSettings>
</configuration>